@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,400i,700,700i,800&display=swap');
@import url('01-iosevka-2.3.1/webfont.css');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

:root {
    --body-font: "PT Serif";
    --heading-font: "Poppins";
    --code-font: "Iosevka Web";
    --reference-font: "PT Sans Narrow";
}

* {
    box-sizing: border-box;
}

html {
    font-size: 12pt;
}

body {
    max-width: 100%;
    padding: 0;
    font-family: var(--body-font);
}

hr {
    display: none;
}

p {
    text-indent: 1em;
}

/* title page */
.title-page {
    height: calc(100% - var(--bindery-margin-top) - var(--bindery-margin-bottom));
    margin: var(--bindery-margin-top) var(--bindery-margin-outer) var(--bindery-margin-outer);

    /* evenly space children */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-page-bottom {
    font-size: 0.8em;
    font-family: var(--reference-font);
}

/* headings */
.md h1,
.md .nonumberh1,
.md h2,
.md .nonumberh2,
.md h3,
.md .nonumberh3,
.md h4,
.md .nonumberh4,
.md .tocHeader {
    font-family: var(--heading-font);
    text-transform: uppercase;
    border: 0;
    margin: 1rem 0;
    padding: 0;
    color: inherit;
    text-align: left;
}

.md h1,
.md .nonumberh1,
.md .tocHeader {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 4em;
    line-height: 1em;
    font-weight: normal;
}

.md h1::before {
    display: block;
    font-weight: 800;
    color: #999;
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 3rem;
    /transform: rotate(-10deg);  /* TODO */
}

/* TODO either make this work or scrap it */
/*.md h1 + p + .fancyquote {
    width: 50%;
    margin-left: 50%;
    margin-top: -20rem;
    margin-bottom: 20rem;
}*/

.md h2,
.md .nonumberh2 {
    font-size: 1.5em;
}

.md h3,
.md .nonumberh3,
.md h4,
.md .nonumberh4 {
    font-size: 1em;
    font-weight: normal;
}
h2 + p,
.nonumberh2 + p,
h3 + p,
.nonumberh3 + p,
h4 + p,
.nonumberh4 + p {
    text-indent: 0;
}

/* table of contents */
/* via https://www.w3.org/Style/Examples/007/leaders.en.html */
.longTOC ol {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none
}
.longTOC ol li:after {
    font-weight: normal;
    float: left;
    width: 0;
    white-space: nowrap;
    content:
        "· · · · · · · · · · · · · · · · · · · · "
        "· · · · · · · · · · · · · · · · · · · · "
        "· · · · · · · · · · · · · · · · · · · · "
        "· · · · · · · · · · · · · · · · · · · · "
        "· · · · · · · · · · · · · · · · · · · · "
        "· · · · · · · · · · · · · · · · · · · · "
}
.longTOC ol span:first-child {
    padding-right: 0.33em;
    background: white;
}
.longTOC ol span + span {
    float: right;
    padding-left: 0.33em;
    background: white;
    position: relative;
    z-index: 1;
    width: 1.8em;
    text-align: right;
}

.md .longTOC .tocNumber {
    display: inline-block;
}
.md .longTOC .level1 .tocNumber {
    min-width: 1.1em;
}
.md .longTOC .level2 .tocNumber {
    min-width: 1.9em;
    margin-left: 1.1em;
}
.md .longTOC .level3 .tocNumber {
    min-width: 2.6em;
    margin-left: 3em;
}
/* level 4 headings don't show up in the toc
.md .longTOC .level4 .tocNumber {
    min-width: 3.3em;
    margin-left: 5.6em;
}*/
.md .longTOC .level1 { /* override styles set by markdeep */
    font-weight: 600;
    padding-top: 0;
    margin: 0;
}
.longTOC a {
    color: inherit !important;
    padding-right: 0.4em;
}

/* code listings */
code {
    font-family: var(--code-font) !important;
}
.md pre.listing {
    resize: none;  /* remove resizability indicator from listings */;
    overflow: visible;
}
.md pre.listing code {
    white-space: pre-line;
}
.md pre.listing .linenumbers span.line {
    margin-left: -0.5rem; /* <- -X */
}
.md pre.listing .linenumbers span.line:before {
    width: 1rem;
    margin-left: -1.5rem;
    padding-right: 0.5rem;  /* <- X */
}
.md pre.listing.tilde .linenumbers span.line:before {
    margin-left: -2.2rem;  /* increase distance between line numbers and code due to padding */
}

/* highlight.js/src/styles/github.css */
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/* admonitions */  /* TODO revisit, along with code blocks with background */
.admonition p {
    text-indent: 0;
}
.md .admonition {
    border-radius: 0;
    padding: .25rem 0.4rem;
    border-left-width: 0.2rem !important;
}
.md .admonition::before {
    display: none !important;
}
.md .admonition-title {
    border-width: 0;
    text-transform: uppercase;
    margin-bottom: -0.8rem;
    padding-bottom: 0;
    font-size: 0.8em;
    font-family: var(--heading-font);
    font-weight: normal;
}

/* TODO import some stuff from markdeep-slides reset */


/* page break fixes */
span.fancyquote.📖-continues:after {
    display: none;
}
blockquote.fancyquote.📖-continuation:before {
    display: none;
}




/* footnotes, citations and other kinds of references */
a.footnote-reference sup {  /* TODO also apply this style to the footnote indexes in the actual footnotes */
    color: black;
    font-family: var(--reference-font);
}
.📖-footnote:first-child:before {
    content: "⸻";
    display: block;
}
.📖-footnote {
    line-height: 1.4em;
}
.📖-footnote .target {
    position: absolute;
}
.📖-footnote > sup:first-child {
    font-family: var(--reference-font);
}
a[href^="#citation"] {
    font-family: var(--reference-font);
    color: black !important;
}

/* page numbers */
.📖-running-header {
    top: 1cm;
    font-size: 0.8em;
    font-family: var(--heading-font);
}

/* Bindery stuff */
.📖-flow-box {
    z-index: 100000; /* makes inspecting elements in the safari dev tools way less painful */
}

/* Markdeep stuff */
.markdeepFooter {
    display: none;  /* sorry morgan */
}

