@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,400i,700,700i,800&display=swap');
@import url('01-iosevka-2.3.1/webfont.css');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

:root {
    --body-font: "PT Serif";
    --heading-font: "Poppins";
    --code-font: "Iosevka Web";
    --reference-font: "PT Sans Narrow";
}

* {
    box-sizing: border-box;
}

html {
    font-size: 12pt;
}

body {
    max-width: 100%;
    padding: 0;
    font-family: var(--body-font);
}

.md h1, .md h2, .md h3, .md .tocHeader {
    font-family: var(--heading-font);
    text-transform: uppercase;
    border: 0;
    margin: 1rem 0;
    padding: 0;
    color: inherit;
    text-align: left;
}

.md h1, .md .tocHeader {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 4em;
    line-height: 1em;
    font-weight: normal;
}

.md h1::before {
    display: block;
    font-weight: 800;
    color: #999;
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 3rem;
    /transform: rotate(-10deg);
}

.md h2, {
    font-size: 1.5em;
}

.md h3 {
    font-size: 1em;
    font-weight: normal;
}

hr {
    display: none;
    page-break-after: always;
}

p {
    text-indent: 1em;
}
h2 + p,
h3 + p {
    text-indent: 0;
}

code {
    font-family: var(--code-font) !important;
}
.md pre.listing {
    resize: none;  /* remove resizability indicator from listings */;
    overflow: visible;
}
.md pre.listing code {
    white-space: pre-line;
}
.md pre.listing .linenumbers span.line {
    margin-left: -0.5rem; /* <- -X */
}
.md pre.listing .linenumbers span.line:before {
    width: 1rem;
    margin-left: -1.5rem;
    padding-right: 0.5rem;  /* <- X */
}

/* TODO import some stuff from markdeep-slides reset */

.markdeepFooter {
    display: none;  /* sorry morgan */
}

/* via https://www.w3.org/Style/Examples/007/leaders.en.html */
.longTOC ul {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none
}
.longTOC ul li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
        "· · · · · · · · · · · · · · · · · · · · "
        "· · · · · · · · · · · · · · · · · · · · "
        "· · · · · · · · · · · · · · · · · · · · "
        "· · · · · · · · · · · · · · · · · · · · "
        "· · · · · · · · · · · · · · · · · · · · "
        "· · · · · · · · · · · · · · · · · · · · "
}
.longTOC ul span:first-child {
    padding-right: 0.33em;
    background: white
}
.longTOC ul span + span {
    float: right;
    padding-left: 0.33em;
    background: white;
    position: relative;
    z-index: 1
}

.md .longTOC .level1 .tocNumber {
    display: inline-block;
    min-width: 1.1em;
}
.md .longTOC .level2 .tocNumber {
    display: inline-block;
    min-width: 1.9em;
    margin-left: 1.1em;
}
.md .longTOC .level3 .tocNumber {
    display: inline-block;
    min-width: 2.6em;
    margin-left: 3em;
}

.md .longTOC .level1 {
    font-weight: 600;
    display: initial;
    padding-top: 0;
    margin: 0;
}

.longTOC a {
    color: inherit !important;
}



a[href^="#citation"] {
    font-family: var(--reference-font);
    color: black !important;
}


/* bindery stuff */
.📖-flow-box {
    z-index: 100000; /* makes inspecting elements in the safari dev tools way less painful */
}

.📖-running-header {
    top: 1cm;
    font-size: 0.8em;
    font-family: var(--heading-font);
}

a.footnote-reference sup {  /* TODO also apply this style to the footnote indexes in the actual footnotes */
    color: black;
    font-family: var(--reference-font);
}
.📖-footnote:first-child:before {
    content: "⸻";
    display: block;
}
.📖-footnote {
    line-height: 1.4em;
}
.📖-footnote .target {
    position: absolute;
}
